body{
			background-color: lightyellow;
		}

		h1 {
			color: teal;
			text-align: center;
			font-family: "Titillium Web", sans-serif;
  			font-weight: 200;
		}

		hr { 
			color: gray;  
			height: 3px; 
		}

		p{
			color: #9D8189;
			text-align: center;
		}

		img{
			width: 50%;
			border-radius: 8px;
			box-shadow: 10px 10px 20px 2px rgba(149,140,140,0.75);
			-webkit-box-shadow: 10px 10px 20px 2px rgba(149,140,140,0.75);
			-moz-box-shadow: 10px 10px 20px 2px rgba(149,140,140,0.75);
		}

		small {
			text-align: center;
		}